{% extends "layout.html" %}
{% block content %}

    <div class="about">
        <img src="{{ url_for('static', filename='img/icon.jpg') }}" alt="icon">
        <div class="description">
            <h3>"Small, cute, brave and immature"</h3><br>
            <p class="quote"> - No Work Club et al. (2020)</p><br>
            <p>Who is Steve? He is a weird old punk, mohawk blondie, wild guitarist, badass biker, 
                sketchy veggie, human hater, Noodle Bar loyal fan, 'World Class Facility' permanent inhabitant.
                Steve is many things, but at the age of 51 he has uncovered another one of his many identities - 
                A poet. He has since written dozens of beautiful poems that are currently published in this blog.
                Enjoy your little adventure with Steve and don't forget to leave a lovely message to him on the message board!</p><br>
            <p>P.S. Hover over Steve and watch him dance!</p>
        </div>
    </div>

{% endblock content %}
