{% extends "layout.html" %}

{% block content %}

    <!-- Poems -->
    <main>
        <article>
            {% for post in posts.items %}
                <div class="post-content">
                    <h2><a href="{{ url_for('posts.post', post_id=post.id) }}">{{post.title}}</a></h2>
                    <br>
                    <p class="date">{{post.date.strftime('%B %d, %Y')}}</p>
                    <br>
                    <p class="poem">{{post.content}}</p>
                </div>
            {% endfor %}

            <div class="pagination">
                {% for page_num in posts.iter_pages(left_edge=2, right_edge=2, left_current=1, right_current=2) %} 
                    {% if page_num %}
                        {% if posts.page == page_num %}
                            <a class="btn btn-info mb-4 btn-md page" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a> 
                        {% else %}
                            <a class="btn btn-outline-info mb-4 btn-md page" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
                        {% endif %}
                    {% else %}
                        ...
                    {% endif %} 
                {% endfor %}
            </div>
        </article>
    </main>

{% endblock content %}