{% extends "layout.html" %}
{% block content %}

        <div class="login-container">
            <h4>Log In</h4>
            <form class="login-form" method="POST" action="">
                {{ form.csrf_token }}

                <div class="form-field">
                    {{ form.email.label }}
                    {{ form.email }}

                    {% if form.email.errors %}
                        <div class="errors">
                            {% for error in form.email.errors %}
                                <p style="text-align: center; color: rgb(241, 82, 82); font-size: 0.8em;">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <div class="form-field">
                    {{ form.password.label }}
                    {{ form.password }}

                    {% if form.password.errors %}
                        <div class="errors">
                            {% for error in form.password.errors %}
                                <p style="text-align: center; color: rgb(241, 82, 82); font-size: 0.8em;">{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                
                <br>
                {{ form.submit(class="boom") }}
            </form>
        </div>

{% endblock content %}